<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin:0;
            padding:0;
            background-color: #f9f9f9;
        }

        .container{
            width: 80%;
            margin: 30px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
        }

        h1{
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        
        button{
            margin-bottom: 10px;
            padding: 10px 20px;
            background-color: #ff7f50;
            color:white;
            border:none;
            border-radius: 5px;
            font-weight:bold;
            cursor: pointer;
        }
        button:hover{
            background-color: #e56742;
        }

        table{
            width:100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        table th, table td{
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        table thead th{
            background-color: #1e81b0;
            color:white;
        }

        table tbody tr:nth-child(even){
            background-color: gold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Messages</h1>
        <p>Welcome, <%= user.name %>. Here are your messages.</p>
        <li><a href="/dashboard">Back to Dashboard</a></li>
        
        <button id = "deleteButton">삭제하기</button>
        <button onclick = "location.href='/writeMessage'">쪽지 쓰기</button>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id = "selectAll"></th>
                    <th>보낸 사람</th>
                    <th>받는 사람</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody id = "messageTableBody">
                <% messages.forEach(function(messages) { %>
                    <tr>
                        <td><input type="checkbox" class ="selectMessage" data-id="<%= messages.id %>"/></td>
                        <td><%= messages.sender_id %></td>
                        <td><%= messages.receiver_id %></td>
                        <td><%= messages.title %></td>
                        <td><%= messages.content %></td>
                        <td><%= messages.issue_at %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
