<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/stylesheets/messages.css">
</head>

<body>
    <div class="container">
        <h1>Messages</h1>
        <p>Welcome, <%= user.name %>. Here are your messages.</p>
        <li><a href="/dashboard">Back to Dashboard</a></li>
        
        <button id = "deleteButton">삭제하기</button>
        <button onclick = "location.href='/writeMessage'">쪽지 쓰기</button>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id = "selectAll"></th>
                    <th>보낸 사람</th>
                    <th>받는 사람</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody id = "messageTableBody">
                <% messages.forEach(function(messages) { %>
                    <tr>
                        <td><input type="checkbox" class ="selectMessage" data-id="<%= messages.id %>"/></td>
                        <td><%= messages.sender_id %></td>
                        <td><%= messages.receiver_id %></td>
                        <td><%= messages.title %></td>
                        <td><%= messages.content %></td>
                        <td><%= messages.issue_at %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
