<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
  <link rel="stylesheet" href="/stylesheets/mypage.css">
</head>

<body>
  <div class="title-bar">
    <h1>마이 페이지</h1>
    <div class="actions">
      <a href="/dashboard" class="back-button">메인으로 돌아가기</a>
    </div>
  </div>

  <div class="container">
    <div class="left-column">
      <div class="information">
        <h3>내 정보</h3>

        <ul>
          <li><a href="/myBoard">내 게시글</a></li>
          <li><a href="/myReviews">리뷰 관리</a></li>
        </ul>
      </div>
    </div>

    <div class="Right-Column">
      <div class="profile">
        <h2>프로필</h2>
        <p>ID: <%=userInfo.id %>
        </p>
        <p>이름: <%= userInfo.name %>
        </p>
        <p>이메일: <%= userInfo.email %>
        </p>
        <p>전화번호: <%= userInfo.phone_no %>
        </p>
        <p>우편번호: <%= userInfo.post_code %>
        </p>
        <p>주소: <%= userInfo.address %>
        </p>
        <p>가입일: <%= userInfo.init_at %>
        </p>
        <a href="/editInfo">편집</a>
      </div>

      <div class="history">
        <h2>판매 내역</h2>
        <div class="sold">
          <table>
            <thead>
              <tr>
                <th>판매 제품</th>
                <th>판매일자</th>
              </tr>
            </thead>
            <tbody>
              <% sellHistory.forEach(transaction=> { %>
                <tr>
                  <td>
                    <%= transaction.product_name %>
                  </td>
                  <td>
                    <%= transaction.transaction_at %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="history">
        <h2>구매 내역</h2>
        <div class="bought">
          <table>
            <thead>
              <tr>
                <th>구매 제품</th>
                <th>구매일자</th>
              </tr>
            </thead>
            <tbody>
              <% buyHistory.forEach(transaction=> { %>
                <tr>
                  <td>
                    <%= transaction.product_name %>
                  </td>
                  <td>
                    <%= transaction.transaction_at %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>