<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>계좌 관리</title>
        <link rel="stylesheet" href="/stylesheets/point.css">
    </head>
    <body>
        <div class="container">
            <div class = "point">
                <h1>포인트</h1>
                <p>보유 포인트: <%= wallet.balance %></p>
                <form action="/wallet" method="POST" >
                    <label>충전 포인트: 
                        <select name="balance">
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10,000</option>
                        </select>
                    </label>
                    <input type = "submit" value ="충전하기" />
                </form>
            </div>
            <div class="history">
                <h2>사용 내역</h2>
                <table>
                    <thead>
                        <tr>
                            <th>거래 제품</th>
                            <th>유저 ID</th>
                            <th>소비 포인트</th>
                            <th>거래 날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= history.forEach(record=>{ %>
                        <tr>
                            <td><%= record.transaction_id %></td>
                            <td><%= record.user_id %></td>
                            <td><%= record.amount %></td>
                            <td><%= record.transaction_at %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>