<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>나의 게시글</title>
    </head>
    <body>
        <h1>게시글 관리/h1>
        <form method="POST" action="/postManage/delete">
            <table>
                <thead>
                    <tr>
                        <th>게시글 ID</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>조회수/th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(post => {
                        <tr>
                            <td><%= post.board_id %></td>
                            <td><%= post.title %></td>
                            <td><%= post.created_at %></td>
                            <td><%= post.view_count %></td>
                            <td><input type = "checkbox" name = "postIds" value = "<%= post.id %>"></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <button type = "submit">삭제</button>
        </form>
    </body>
</html>